name: Create and publish Dockers

on: push

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  REF_NAME: ${{ github.ref_name }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        dockerfile: [".github/ci.dockerfile", "Dockerfile"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/open-s4c/vsyncer
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=edge,branch=main
      - name: Log in to the Container registry
        # TODO: if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5.1.0
        with:
          context: .
          file:  ${{ matrix.dockerfile }}
          # TODO:  push: ${{ github.event_name != 'pull_request' }}
          push: true
          build-args: "VSYNCER_TAG=${{ github.sha }}"
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      # run
  set-name:
    runs-on: ubuntu-latest
    steps:
      - run: export BRANCH_NAME=${REF_NAME/\//-} && echo "$BRANCH_NAME"
      - run: echo "$BRANCH_NAME"
  Integration-Tests:
    runs-on: ubuntu-latest
    needs: [build-and-push-image, set-name]
    # TODO: find the name from the above job
    container: ghcr.io/open-s4c/vsyncer-ci:$BRANCH_NAME
    steps:
      - name: Which commit
        run: echo "Check vsyncer version"
      - run: vsyncer version
      - name: Check out to run with the tests
        uses: actions/checkout@v4
      - run: cmake -S./tests -Bbuild -DVSYNCER_LOCAL=OFF
      - run: cmake --build build
      - run: ctest --test-dir build --output-on-failure
